# Summary : Take a look at NYC Open Data schools attendance by school & grade from the past five years. Let's compare this data against the weather and non-observed holidays during the past 5 years for level of correlation.

### Should we use average daily tempature? Tempature 1 hour prior to school start?
### How should we account for precipitation totals?
### What non-observed holidays should be considered?
### What does the data say at a city level?
### What does the data say at a bourough level? 
### What does the data say at a district level?
### What does the data say at a school level?

Where should we get our weather data from?

In [8]:
schooldf.tail()

        School        Date  SchoolYear  Enrolled  Present  Absent  Released
843128  79X695  12/18/2017    20172018       218      169      49         0
843129  79X695  12/19/2017    20172018       216      172      44         0
843130  79X695  12/20/2017    20172018       216      177      39         0
843131  79X695  12/21/2017    20172018       216      168      48         0
843132  79X695  12/22/2017    20172018       210      171      39         0

In [7]:
import numpy as np
import pandas as pd

schooldf = pd.read_csv("2015-2018_Historical_Daily_Attendance_By_School.csv")
schooldf["Date"].value_counts()

9/9/2015      1633
9/17/2015     1630
9/10/2015     1630
2/9/2016      1629
1/14/2016     1629
11/16/2015    1629
5/31/2016     1629
12/3/2015     1629
1/5/2016      1629
12/17/2015    1629
10/13/2015    1629
4/11/2016     1629
1/4/2016      1629
9/28/2015     1629
11/24/2015    1629
10/26/2015    1629
1/13/2016     1629
3/15/2016     1629
10/21/2015    1629
10/6/2015     1629
2/24/2016     1629
11/18/2015    1629
10/1/2015     1629
3/28/2016     1629
9/21/2015     1629
3/2/2016      1629
12/7/2015     1629
6/6/2016      1629
4/4/2016      1629
12/8/2015     1629
              ...
6/19/2018     1206
6/19/2017     1205
1/25/2017     1205
6/20/2018     1205
6/21/2018     1205
6/16/2017     1205
6/20/2017     1204
2/1/2016      1204
6/15/2017     1204
6/21/2017     1204
6/22/2017     1204
6/13/2017     1204
6/12/2018     1203
6/14/2017     1202
1/29/2018     1201
6/22/2018     1200
6/23/2017     1199
1/30/2017     1189
6/11/2018      541
6/12/2017      535
6/14/2016       82
6/8/2017         9
6/7/2018         6
6/9/2016         4
9/8/2015         3
9/6/2017         2
4/18/2017        2
4/17/2017        1
9/7/2016         1
9/5/2017         1
Name: Date, Length: 544, dtype: int64