# Summary : Take a look at NYC Open Data schools attendance by school & grade from the past five years. Let's compare this data against the weather and non-observed holidays during the past 5 years for level of correlation.

### Should we use average daily tempature? Tempature 1 hour prior to school start?
### How should we account for precipitation totals?
### What non-observed holidays should be considered?
### What does the data say at a city level?
### What does the data say at a bourough level? 
### What does the data say at a district level?
### What does the data say at a school level?

Where should we get our weather data from?

In [1]:
import numpy as np
import pandas as pd

# Load in datasets
attendance = pd.read_csv("2015-2018_Historical_Daily_Attendance_By_School.csv")
school_info = pd.read_csv("nycschooldata.csv", encoding="ISO-8859-1")
weather = pd.read_csv("jfk_weather_data.csv")

In [12]:
# Let's cleanup the weather data.

weather1 = weather.drop(['WT01', 'WT02', 'WT03', 'WT04', 'WT06', 'WT08', 'WT09', "NAME"], axis=1)
weather1['DATE'] = pd.to_datetime(weather1['DATE'])
weather1.columns = weather1.columns.str.lower()

# Cleanup Attendance

attendance.columns = attendance.columns.str.lower()
attendance['date'] = pd.to_datetime(attendance['date'])
attendance = attendance[attendance.enrolled > 100 ] # executive desicion to remove schools with under 100 enrollment.

# Cleanup School Information



school_info.columns = (school_info.columns.str.lower()
                       school_info.columns.str.replace(" ", "_")
)

SyntaxError: invalid syntax (<ipython-input-12-0ad56ca82a48>, line 18)

In [9]:
school_info.head()

#looks

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,...,BFSC Director Name,BFSC Director Title,BFSC Director Phone,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,Borough,BIN,Latitude,Longitude
0,NaN,O001,Amani Charter School,6.610000e+11,Charter,General Academic,Secondary School,"05,06",NaN,Dec 12 2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,OAQK,"Victory Schools, DBA The Charter School of Exc...",6.620000e+11,Charter,General Academic,Elementary,"0K,01,02,03,04",NaN,Mar 20 2006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,OAWF,The Academy Charter School,8.000000e+11,Charter,General Academic,Elementary,"0K,01,02,03,04,05",NaN,Jul 1 2009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01M015,M015,P.S. 015 Roberto Clemente,3.100000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1904,...,"CHU, YUET",FSC Executive Director,646-470-0721,NaN,NaN,NaN,MANHATTAN,,40.721807,-73.979022
4,01M019,M019,P.S. 019 Asher Levy,3.100000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1956,...,"CHU, YUET",FSC Executive Director,646-470-0721,NaN,NaN,NaN,MANHATTAN,,40.729636,-73.983818